* {
    margin: 0%;
    padding: 0%;
    background-color: #36494E;
    box-sizing: border-box;
}


header {
    text-align: center;
    font-size: 25px;
    font-weight: 45px;
    border-bottom: solid;
    padding: 20px;
}

nav {
    width: 100%;
}

.logo {
    height: 10px;
    ;
}

.dp {
    width: 330px;
}

h1 {
    background-color: #f5f5f5;
    font-size: 45px;
    padding: 5px;
    margin: 5px
}

h2 {
    border-bottom: 10px;
    background-color: #f5f5f5;
    margin-bottom: 26px; 
}

h3 {
    width: 400px;
    border-bottom: 10px;
    background-color: #f5f5f5;
    text-align: justify;
    display: inline-block;
}

.navigation-button li {
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    padding: 5px 22px;
    margin: 12px;
    border-style: solid;
    border-radius: 50px;
}    

.navigation-button li:hover {
    background-color: white;
    transition: 0.3s;
    border-color: white;
}

    

.landing {
    display: flex;
    background-color: #f5f5f5;
    
}

.landing-info {
    background-color: #f5f5f5;
    width: 30%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px
}

.medialinks li { 
    display: inline-flex;
    padding: 35px 20px 10px 20px;
}

li a img {
    width: 64px;    
}



a {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

footer {
    text-align: center;
}






